<div class="container-fluid px-0"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <a class="navbar-brand" href="#">
            <img src="assets/Myntra.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        
            <ul class="navbar-nav ml-auto d-flex flex-row align-items-center">
                <!-- <li class="nav-item">
                    <form class="form-inline mr-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                    style="background-color: #f7f7f7; border: none;">
                                    <i class="fas fa-search"
                                        style="color: rgb(163, 159, 159);"></i>
                                </span>
                            </div>
                            <input class="form-control border-0" type="search"
                                placeholder="Search for products, brands and more" aria-label="Search"
                                style="width: 350px; background-color: #f7f7f7; border-left: none; font-size: 14px;">
                        </div>
                    </form>
                </li> -->
                <!-- <li class="nav-item dropdown ml-3" id="profile-dropdown">
                    <a class="nav-link" href="#" id="profileDropdownToggle">
                        <div class="icon-wrapper">
                            <i class="fas fa-user fa-lg"></i>
                        </div>
                        <div class="text-wrapper">
                            <div class="icon-text" style="font-size: 12px; color: rgb(70, 63, 63); font-weight: bold;">
                                Profile
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile profile-shadow centered-dropdown"
                        aria-labelledby="profileDropdownToggle" style="left: auto; right: 0; width: 330px;">
                        <h6 class="bold-welcome">Welcome</h6>
                        <p class="centered-text">To access account and manage orders</p>
                        <button type="button"
                            class="btn btn-outline-secondary btn-sm l-profile-btn custom-btn centered-button">
                            <a class="dropdown-item l-drp-itm custom-button" href="#" [routerLink]="['/login']"
                                style="font-weight: bold; color: #f70c6e;">LOGIN / SIGNUP</a>
                        </button>
                        <p class="line"></p>
                    </div>
                </li> -->
                <li class="nav-item ml-3">
                    <a class="nav-link" [routerLink]="['/wishlist']" href="#">
                        <i class="fas fa-heart fa-lg"></i>
                        <div style="font-size: 12px; color: rgb(70, 63, 63); font-weight: bold;">Wishlist</div>
                    </a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" [routerLink]="['/cart']" href="#">
                        <i class="fas fa-shopping-cart fa-lg"></i>
                        <div style="font-size: 12px; color: rgb(70, 63, 63); font-weight: bold;">Cart</div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>



<div class="container" *ngFor="let product of data">
    <div class="left">
        <img [src]="product.Image" alt="" class="small-image">
      </div>
      
    <div class="right" >
      <h2 class="product-title">{{product.Name}}</h2>
      <h2 class="product-name">Crafted from a lightweight, breathable blend of cotton and polyester for ultimate comfort.Machine wash cold with like colors. Tumble dry low or hang to dry. Iron on low heat if needed.</h2>

      <h4 class="size-buttons-select-size">SELECT SIZE</h4>
      <select class="product-size">
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
      </select>

<span class="product-price" tabindex="0">
      <strong>₹{{product.Price}}</strong>
    </span>

      <p class="product-selling-price">
        <span class="product-vatInfo">inclusive of all taxes</span></p>

        <!-- <h4 class="size-buttons-select-size">SELECT SIZE </h4> -->



<div class="product-button">
<div class="pdp-add-to-bag pdp-button pdp-flex pdp-center " [routerLink]="['/cart']" (click)="addToCart(product)" >
    <i class="fa-solid fa-bag-shopping" style="margin-right: 5px; float: left;" ></i>   ADD TO BAG</div>

    <div class="pdp-add-to-wishlist pdp-button pdp-flex pdp-center" [routerLink]="['/wishlist']" (click)="addToWishlist(product._id)" >
  <i class="fa-regular fa-heart" style="margin-right: 5px; float: left;"></i>
  WISHLIST
</div>



<div class="product-description">
<p class="product-info">✯ Buy Products Online</p>
            <p class="product-info">✯ Shop for Products in India</p>
            <p class="product-info">✯ Buy latest range of Products</p>
            <!-- <p class="product-info">✯ Free Shipping</p>
            <p class="product-info">✯ COD</p> -->
</div>

</div>
      
    </div>
  </div>
  