<div class="container-fluid px-0"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <a class="navbar-brand" href="#">
            <img src="assets/Myntra.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

<!-- 
            <ul class="navbar-nav mr-auto d-flex flex-row align-items-center">
                <li class="nav-item dropdown position-static" *ngFor="let section of data" style="margin-left: 20px; font-weight: bold;">
                  <a class="nav-link" [routerLink]="['/category']" href="#" >
                    {{ section.Name | uppercase }}
                  </a>
                </li>
              </ul> -->


            <ul class="navbar-nav ml-auto d-flex flex-row align-items-center">
                <!-- <li class="nav-item">
                    <form class="form-inline mr-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                    style="background-color: #f7f7f7; border: none;">
                                    <i class="fas fa-search"
                                        style="color: rgb(163, 159, 159);"></i>
                                </span>
                            </div>
                            <input class="form-control border-0" type="search"
                                placeholder="Search for products, brands and more" aria-label="Search"
                                style="width: 350px; background-color: #f7f7f7; border-left: none; font-size: 14px;">
                        </div>
                    </form>
                </li> -->
                <!-- <li class="nav-item dropdown ml-3" id="profile-dropdown">
                    <a class="nav-link" href="#" id="profileDropdownToggle">
                        <div class="icon-wrapper">
                            <i class="fas fa-user fa-lg"></i>
                        </div>
                        <div class="text-wrapper">
                            <div class="icon-text" style="font-size: 12px; color: rgb(70, 63, 63); font-weight: bold;">
                                Profile
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile profile-shadow centered-dropdown"
                        aria-labelledby="profileDropdownToggle" style="left: auto; right: 0; width: 330px;">
                        <h6 class="bold-welcome">Welcome</h6>
                        <p class="centered-text">To access account and manage orders</p>
                        <button type="button"
                            class="btn btn-outline-secondary btn-sm l-profile-btn custom-btn centered-button">
                            <a class="dropdown-item l-drp-itm custom-button" href="#" [routerLink]="['/login']"
                                style="font-weight: bold; color: #f70c6e;">LOGIN / SIGNUP</a>
                        </button>
                        <p class="line"></p>
                    </div>
                </li> -->
                <li class="nav-item ml-3">
                    <a class="nav-link" [routerLink]="['/wishlist']" href="#">
                        <div class="icon-wrapper">
                            <i class="fas fa-heart fa-lg"></i>
                        </div>
                        <div style="font-size: 12px; color: rgb(70, 63, 63); font-weight: bold;">Wishlist</div>
                    </a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" [routerLink]="['/cart']" href="#">
                        <div class="icon-wrapper">
                            <i class="fas fa-shopping-cart fa-lg"></i>
                        </div>
                        <div style="font-size: 12px; color: rgb(70, 63, 63); font-weight: bold;">Cart</div>
                    </a>
                </li>
                
            </ul>
        </div>
    </nav>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3" *ngFor="let subcategory of products">
            <div class="card" [routerLink]="['/viewpage']" (click)="selectProduct(subcategory.Name)" style="height: 100%;"> 
                <img class="card-img-top custom-image-size" [src]="subcategory.Image" alt="Card image" style="height: 200px; object-fit: cover;"> 
                <div class="card-body">
                    <h4 class="card-title">{{ subcategory.Name }}</h4> 
                  
                    <button class="btn btn-outline-secondary btn-sm" style="width: 190px;"  > 
                        View Product 
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


  
  